.main {
  display: grid;
  grid-template-areas:
    "top"
    "middle"
    "bottom";
  padding: 1rem;
}
p {
  grid-area: top;
}

.btn-newUser {
  grid-area: bottom;
}

.btn-oldUser {
  grid-area: middle;
}
